<div class="field-search">
  @if (this.isSearch()) {
    <button [style.margin-top]="'4px'" mat-icon-button (click)="resetSearch()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  } @else {
    <button [matMenuTriggerFor]="menu" [style.margin-top]="'4px'" mat-icon-button>
      <mat-icon>more_horiz</mat-icon>
    </button>

    <mat-menu #menu="matMenu" [style.margin]="0">
      <button mat-menu-item>
        <mat-icon>archive</mat-icon>
        <span>Архив</span>
      </button>
    </mat-menu>
  }
  <mat-form-field [formGroup]="this.searchForm" subscriptSizing="dynamic">
    <input (focusin)="this.isSearch.set(true)" formControlName="search" matInput placeholder="Поиск">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

@if (this.isSearch()) {
  <div class="overflow">
    @if (this.searchForm.controls.search.value === '') {
      <mat-nav-list>
        <div class="m-0-8">Начните ввод</div>
      </mat-nav-list>
    } @else {
      <mat-nav-list>
        @if (searchResult && searchResult.length > 0) {
          @for (chat of searchResult; track $index) {
            <mat-list-item [routerLink]="['chats', chat.id]"
                           (click)="onClickChat(chat)"
                           routerLinkActive="active">
              <psk-chat-item [chat]="chat"></psk-chat-item>
            </mat-list-item>
          }
        } @else {
          <div class="m-0-8">Ничего не найдено</div>
        }
      </mat-nav-list>
    }
  </div>
} @else {
  <mat-tab-group>
    <mat-tab label="Все">
      <mat-nav-list>
        @if (chats && chats.length > 0) {
          @for (chat of chats; track $index) {
            <mat-list-item (click)="onClickChat(chat)"
                           [routerLink]="['chats', chat.id]" routerLinkActive="active">
              <psk-chat-item [chat]="chat"></psk-chat-item>
            </mat-list-item>
          }
        } @else {
          <div class="m-0-8">Не добавлен ни один контакт. Воспользуйтесь поиском</div>
        }
      </mat-nav-list>
    </mat-tab>
  </mat-tab-group>
  <button class="btn-create-chat" color="primary" mat-fab matTooltip="Новый чат">
    <mat-icon>create</mat-icon>
  </button>
}
