<mat-form-field [style.width]="'100%'">
  <input matInput placeholder="Поиск">
  <mat-icon matSuffix>search</mat-icon>
</mat-form-field>
<mat-tab-group>
  <mat-tab label="Все">
    <mat-selection-list>
      @for (item of items; track item) {
        <mat-list-item>
          <psk-chat-item></psk-chat-item>
        </mat-list-item>
      }
    </mat-selection-list>
  </mat-tab>
  <mat-tab label="Все">
    <mat-selection-list>
      @for (item of items; track item) {
        <mat-list-item>
          <psk-chat-item></psk-chat-item>
        </mat-list-item>
      }
    </mat-selection-list>
  </mat-tab>
</mat-tab-group>
<button class="btn-create-chat" color="primary" mat-fab matTooltip="Новый чат">
  <mat-icon>create</mat-icon>
</button>


