<div class="field_search">
  <button [matMenuTriggerFor]="menu" [style.margin-top]="'4px'" mat-icon-button>
    <mat-icon>more_horiz</mat-icon>
  </button>

  <mat-menu #menu="matMenu" [style.margin]="0">
    <button mat-menu-item>
      <mat-icon>archive</mat-icon>
      <span>Архив</span>
    </button>
  </mat-menu>

  <mat-form-field subscriptSizing="dynamic">
    <input matInput placeholder="Поиск">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<mat-tab-group>
  <mat-tab label="Все">
    <mat-nav-list>
      @for (c of contactsAndChats; track $index) {
        @if (c.type === 'contact') {
          <mat-list-item (click)="this.chatsService.setActive(c)"
                         [routerLink]="['contacts', c.id]" routerLinkActive="active">
            <psk-chat-item [c]="c"></psk-chat-item>
          </mat-list-item>
        } @else if (c.type === 'chat') {
          <mat-list-item (click)="this.chatsService.setActive(c)"
                         [routerLink]="['chats', c.id]" routerLinkActive="active">
            <psk-chat-item [c]="c"></psk-chat-item>
          </mat-list-item>
        }
      }
    </mat-nav-list>
  </mat-tab>
</mat-tab-group>
<button class="btn-create-chat" color="primary" mat-fab matTooltip="Новый чат">
  <mat-icon>create</mat-icon>
</button>
