.field_search {
  display: flex;
  align-items: stretch;

  mat-form-field {
    flex: 1;
  }
}

mat-tab-group {
  height: calc(100% - 56px);

  mat-list-item {
    height: 72px !important;
  }
}

.active {
  background-color: rgb(223, 223, 223) !important;
}

.btn-create-chat {
  z-index: 1;
  position: absolute;
  bottom: 20px;
  right: 20px;
}


