<div class="container">
  <mat-toolbar class="mat-elevation-z1">
    <button (click)="goBack()" class="btn-back" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <div class="person">
      <div class="avatar">
        <img alt="" src=""/>
        ФИ
      </div>
      <div class="column">
        <span class="user-title"><b>Фамилия Имя Отчество</b></span>
        <span class="info">5 минут назад</span>
      </div>
    </div>
    <div>
      <button [matMenuTriggerFor]="menu" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Отключить уведомелния</span>
        </button>
        <button mat-menu-item>
          <mat-icon color="warn">delete</mat-icon>
          <span>Удалить чат</span>
        </button>
      </mat-menu>
    </div>
  </mat-toolbar>

  <div class="messages">
    <div class="message-display">
      <div class="recipient">
        <mat-card>
          <mat-card-content>Привет</mat-card-content>
          <mat-card-footer class="info">
            <span class="icon"><mat-icon>edit</mat-icon></span>
            <span class="text">10:10</span>
            <span class="status icon">
              <mat-icon color="primary">check</mat-icon>
              <mat-icon class="overlapping-icon" color="primary">check</mat-icon>
          </span>
          </mat-card-footer>
        </mat-card>
      </div>
      <div class="sender">
        <mat-card>
          <mat-card-content>Привет</mat-card-content>
          <mat-card-footer class="info">
            <span class="text">10:10</span>
          </mat-card-footer>
        </mat-card>
      </div>
    </div>

    <form class="message-input">
      <mat-form-field>
        <input matInput placeholder="Сообщение">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-icon matSuffix style="transform: rotate(40deg);">attach_file</mat-icon>
      </mat-form-field>
      <button [style.margin-top]="'4px'" color="primary" mat-icon-button type="submit">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>
