.container {
  display: flex;
  flex-direction: column;
  height: 100%;

  mat-toolbar {
    background-color: white;
    height: 56px;
    justify-content: space-between;
    overflow: hidden;

    .btn-back {
      display: none;
    }

    .person {
      display: flex;
      overflow: hidden;
      align-items: center;

      .blue {
        background-color: blue !important;
      }

      .red {
        background-color: red !important;
      }

      .green {
        background-color: green !important;
      }

      .yellow {
        background-color: yellow !important;
      }

      .orange {
        background-color: orange !important;
      }

      .pink {
        background-color: pink !important;
      }

      .purple {
        background-color: purple !important;
      }


      .avatar {
        min-width: 42px;
        min-height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: green;
        color: white;

        img {
          width: 100%;
          height: 100%;
        }

        img:empty {
          display: none;
        }
      }

      .column {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        margin-left: 16px;

        .user-title {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 0.9em;
        }

        .info {
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 0.8em;
          line-height: 1;
          margin-bottom: 4px;
        }
      }
    }
  }

  .messages {
    display: flex;
    flex-direction: column;
    height: calc(100% - 56px);
    margin: 0 auto;
    max-width: 640px;
    width: 100%;

    .message-display {
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow: auto;

      .date-divider {
        text-align: center;
        font-size: 14px;
        color: #888;
        padding: 8px 0;
        border-top: 1px solid #e0e0e0;
        margin: 16px 0;
      }

      .recipient {
        display: flex;
        justify-content: right;
      }

      .sender {
        mat-card {
          background-color: rgb(225, 227, 239);
        }
      }

      mat-card {
        margin: 8px;
        padding: 4px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 70%;
        width: fit-content;
        overflow-wrap: break-word;

        mat-card-content {
          padding: 4px;
        }

        mat-card-footer {
          display: flex;
          justify-content: flex-end;
          padding: 0;
        }

        .info {
          display: flex;
          align-items: flex-start;

          .status {
            position: relative;

            .overlapping-icon {
              position: absolute;
              left: 5px;
              clip-path: inset(0 0 0 20%);
            }

            mat-icon {
              font-size: 1.3em !important;
            }
          }

          .icon {
            mat-icon {
              font-size: 1.1em;
              height: 14px;
            }
          }

          .text {
            font-size: 0.9em;
            margin-right: 4px;
          }
        }
      }
    }

    .message-input {
      display: flex;
      margin: 0 8px;

      mat-form-field {
        width: 100%;
      }
    }
  }
}

@media (max-width: 925px) {
  .container {
    mat-toolbar {
      .btn-back {
        display: flex;
        margin-right: 8px;
      }
    }
  }
}
