<mat-toolbar class="mat-elevation-z1">
  <div class="person">
    <div class="avatar">
      <img alt="" src="img.png"/>
    </div>
    <div class="content">
      <div class="top">
        <span class="user-title"><b>Фамилия Имя Отчество длинное</b></span>
      </div>
      <div class="bottom">
        <div class="info">
          <span>5 минут назад</span>
        </div>
      </div>
    </div>
  </div>
  <span class="spacer"></span>
  <button mat-icon-button matTooltip="Когда нибудь...">
    <mat-icon>search</mat-icon>
  </button>
  <button [matMenuTriggerFor]="menu" mat-icon-button>
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>notifications_off</mat-icon>
      <span>Отключить уведомелния</span>
    </button>
    <button mat-menu-item>
      <mat-icon color="warn">delete</mat-icon>
      <span>Удалить чат</span>
    </button>
  </mat-menu>
</mat-toolbar>
