<div [routerLink]="[id]" class="dialog">
  <div class="avatar">
    <img alt="" src="">
    ФИ
  </div>
  <div class="column">
    <div class="row">
      <div class="dialog-title">
        <b>Фамилия Имя Отчество lllllllllllllll</b>
      </div>
      <div class="message-info">
        <span class="message-status">
          <mat-icon color="primary">check</mat-icon>
          <mat-icon class="overlapping-icon" color="primary">check</mat-icon>
        </span>
        <span class="message-time">10:10</span>
      </div>
    </div>
    <div class="subtitle">
      Очень длинное последнее сообщение
    </div>
  </div>
</div>
