.dialog {
  display: flex;
  flex-flow: row nowrap;
  flex: 1;

  img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
  }

  .column {
    display: flex;
    flex-direction: column;
    margin-left: 16px;

    .dialog-title {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      flex: 1;

      .title {
        display: flex;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 33%;
      }

      .message-info {
        display: flex;
        flex-shrink: 0;
        margin-left: 8px;
      }

      .message-status {
        display: flex;
        position: relative;

        .overlapping-icon {
          position: absolute;
          left: 5px;
          clip-path: inset(0 0 0 22%);
        }

        mat-icon {
          font-size: 1.3em;
        }
      }

      .message-time {
        font-size: 0.9em;
        margin-left: 8px; /* Отступ между иконками и временем */
      }
    }

    .dialog-subtitle {
      flex: 1;

      span {
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}

@media (max-width: 600px) {
  .dialog {
    .column {
      .dialog-title {


      }

    }
  }
}
