<div class="dialog">
  <div [ngClass]="c.color.toLowerCase()" class="avatar">
    <img alt="" src="">
    {{ c.type === "contact" ? getLetters(c.fullName!) : this.getLetters(c.title!) }}
  </div>
  <div class="column">
    <div class="row">
      <div class="dialog-title">
        <b>{{ c.type === "contact" ? c.fullName! : c.title! }}</b>
      </div>
      @if (c.messages[c.messages.length - 1].senderId === this.chatService.$user.value?.id) {
        <div class="message-info">
        <span class="message-status">
          @if (c.messages[c.messages.length - 1].status === 1) {
            <mat-icon color="primary">check</mat-icon>
            <mat-icon class="overlapping-icon" color="primary">check</mat-icon>
          } @else {
            <mat-icon>check</mat-icon>
          }
        </span>
          <span class="message-time">{{ getDateMessage(c.messages[c.messages.length - 1].date) }}</span>
        </div>
      }
    </div>
    <div class="row">
      <div class="subtitle">
        {{ c.messages[c.messages.length - 1].text }}
      </div>
    </div>
  </div>
</div>
