/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.blue {
  background-color: blue !important;
}

.red {
  background-color: red !important;
}

.green {
  background-color: green !important;
}

.yellow {
  background-color: yellow !important;
}

.orange {
  background-color: orange !important;
}

.pink {
  background-color: pink !important;
}

.purple {
  background-color: purple !important;
}

.text_blue {
  color: blue !important;
}

.text_red {
  color: red !important;
}

.text_green {
  color: green !important;
}

.text_yellow {
  color: yellow !important;
}

.text_orange {
  color: orange !important;
}

.text_pink {
  color: pink !important;
}

.text_purple {
  color: purple !important;
}
