mat-sidenav-container {
  height: 100%;
  mat-sidenav {
    max-width: 420px;


    .no-scroll {
      overflow: hidden;
    }

    mat-nav-list {
      margin: 0;
      padding: 0;
    }
  }

  mat-sidenav-content {
    min-height: 90vh;
  }
}

@media (max-width: 600px) {
  mat-sidenav-container {
    mat-sidenav {
      max-width: 600px;
      width: 100%;
      overflow: hidden;
    }
  }
}






